DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
STREAMLAB_TRANSCODE_MESSAGING_ENABLED=false
